/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

@font-face {
  font-family: Raleway-semibold;
  src: url(assets/fonts/Raleway-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway-Medium.ttf) format('opentype');
}

@font-face {
  font-family: Raleway-bold;
  src: url(assets/fonts/Raleway-Bold.ttf) format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 98%;
  font-family: 'Raleway';
  scroll-behavior: smooth;
}

h2 {
  font-size: 20pt;
}

.relative {
  position: relative;
}

.align-center {
  text-align: center;
}

.align-end {
  text-align: end;
}

li {
  font-family: 'Raleway';
  font-size: 10pt;
  line-height: 15pt;
}

h1 {
  font-size: 23pt;
}

p {
  line-height: 15pt;
}

.main {
  height: 100vh;
}

.title {
  text-align: center;
  text-align: -webkit-center;
}

::-webkit-scrollbar {
  width: 5px;
  background: #363636;
}

::-webkit-scrollbar-thumb {
  background: #e31b6d;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.animate__animated.animate__backInRight {
  --animate-duration: 1.4s;
}
.animate__animated.animate__backInLeft {
  --animate-duration: 1.4s;
}
.animate__animated.animate__backInUp {
  --animate-duration: 1.4s;
}
.animate__animated.animate__backInDown {
  --animate-duration: 1.4s;
}

// Hexagon class

.mini-hexagon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 57.735%;
  border-top: 1px solid #c51675;
  border-color: #c51675;
  border-bottom: 1px solid #c51675;
}

.mini-hexagon:before {
  background-color: inherit;
  content: '';
  height: inherit;
  position: absolute;
  right: 42.1325%;
  top: 0;
  transform: rotateZ(60deg);
  width: inherit;
  border-top: 1px solid #c51675;
  border-color: #c51675;
  border-bottom: 1px solid #c51675;
}

.mini-hexagon:after {
  background-color: inherit;
  content: '';
  height: inherit;
  position: absolute;
  right: 42.1325%;
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit;
  border-top: 1px solid #c51675;
  border-color: #c51675;
  border-bottom: 1px solid #c51675;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .content {
    grid-template-columns: 1fr !important;
    margin: auto;
  }

  h1 {
    font-size: 16pt;
  }

  .skills {
    padding-left: 5%;
    padding-top: 5%;
  }

  .education-position {
    top: -200px;
  }

  .img-grid {
    grid-template-columns: 100% !important;
    text-align: center;
    margin-bottom: 70px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .content {
    grid-template-columns: 1fr !important;
    margin: auto;
  }

  h1 {
    font-size: 16pt;
  }

  .skills {
    padding-left: 5%;
    padding-top: 5%;
  }

  .education-position {
    top: -200px;
  }

  .img-grid {
    grid-template-columns: 100% !important;
    text-align: center;
    margin-bottom: 70px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .content {
    grid-template-columns: 1fr !important;
    margin: auto;
  }

  h1 {
    font-size: 16pt;
  }

  .skills {
    padding-left: 5%;
    padding-top: 5%;
  }

  .education-position {
    top: -200px;
  }

  .img-grid {
    grid-template-columns: 100% !important;
    text-align: center;
    margin-bottom: 70px;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
}
